*.o
*.gmo
data/
Makefile
build-config.h
config.log
config.status
doc/Makefile
doc/man/Makefile
doc/man/gpredict.1
libtool
pixmaps/Makefile
pixmaps/icons/Makefile
pixmaps/logos/Makefile
pixmaps/maps/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/Makefile
src/gpredict
src/nxjson/.deps/
src/nxjson/.dirstamp
src/sgpsdp/.deps/
src/sgpsdp/.dirstamp
src/sgpsdp/Makefile
src/sgpsdp/TR/Makefile
src/sgpsdp/test-001
src/sgpsdp/test-002
stamp-h1
.tarball-version
.version
