GtkWindow {
    background-color: magenta;
}

GtkButton {
    background-image: none;
}

#myGrid {
    background-color: cyan;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#myChildTop {
    background-color: white;
}
#bt_rot_engage,
#bt_rig_engage{
    color: green;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

/* This is when it is being pressed */
#bt_rot_engage:active,
#bt_rig_engage:active{
    color: yellow;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

/* This is when it is being pressed */
#bt_rot_engage:checked,
#bt_rig_engage:checked{
    color: red;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

#bt_sat_track{
    color: green;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

#bt_sat_track:active{
    color: yellow;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

#bt_sat_track:checked{
    color: red;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}


#bt_tune
   {
    color: green;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
   }

#bt_tune:active
   {
    color: red;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
   }

#bt_lock
   {
	color: green;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
   }

#bt_lock:checked
   {
	color: red;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
   }

#lb_az_str
{
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

#lb_az_data
{
    color: green;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}


#lb_el_data
{
    color: green;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
#lb_el_str
{
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

#lb_rig_dl_str
{
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
}

#lb_rig_dl_data
{
    color: green;
    font-family: DejaVu Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}


#lb_rig_dl_data
{
 color: green;
 font-family: DejaVu Sans;
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
}

#lb_az_str,
#lb_az_data,
#lb_el_str,
#lb_el_data {
 color: green;
 font-family: DejaVu Sans;
 font-style: normal;
 font-weight: bold;
 font-size: 20px;
}
